body{
    background-color: whitesmoke;

}
div.main{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    width: 80%;
    margin: auto;
    
}
div.main>div{
    display: inline-block;
    width:90%;
    margin: auto;

    margin-left: 5%;
    margin-right: 5%;
    
    margin-top: 19px;
    margin-bottom: 20px;
    
}
#buttonarea{
    background-color: inherit;
}
input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-size: larger;
    padding-left: 10px;
    display: inline-block;
    /*
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    */
    margin-bottom: 20px;
    
    border-radius: 10px;
    
}
button{
    background-color: inherit;
    color: white;
    border: none;
    font-size: 120%;
    border-radius: 9px;
    width: 15%;
    height: 40px;

    
}
button:hover{
    background-color: #052e05;
    border-radius: 9px;
    width: 15%;
    height: 40px;

    
}